html
{
    /* background-color: rgb(216, 216, 216); */
}
nav
{
    /* height: 80px; */
    font-size: 13pt;
    background-color: rgb(43, 78, 255);
    /* border: 1pt solid red; */
    /* line-height: 80px; */
}
header
{
    border: 1pt solid red;
}
#Search
{
    height: 45px;
}
div
{
    /* border: 1pt solid red; */
}